* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-color: #111;
    background-size: 100%;
    background-position: center;
  }
  
  .container {
    padding: 20px;
    width: 50%;
    margin: 50px auto;
    border: solid 2px #ff0000;
    height: 80%;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  table {
    border: 4px solid white;
    border-collapse: collapse;
  }
  
  h1 {
    color: white;
    font-size: 50px;
  }
  
  th,
  tr,
  td {
    border: solid 2px white;
    color: white;
  }
  
  .resetar {
    margin-top: 15px;
    width: 250px;
    height: 32px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .resetar:hover,
  button:hover {
    color: wheat;
    background-color: black;
  }
  
  button {
    font-weight: bold;
    width: 120px;
    height: 23px;
    margin: 10px 0;
    padding: 5px 0;
    color: red;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  input {
    width: 250px;
    height: 32px;
    border-radius: 15px;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid #ccc;
    width: 100%;
  }
  
  table th {
    background-color: white;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    text-align: center;
  }
  
  table th,
  td {
    padding: 1px 10px;
  }
  
  .center {
    text-align: center;
  }
  